root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

indent_style = space
indent_size = 2
max_line_length = 100

prettier.singleQuote=true
quote_type = single

[Makefile]
indent_style = tab
